__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.pytest_cache
.coverage
htmlcov
.env
.env.*
test.db
sql_app.db
coalnexus.db
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
